.container{
    border: 2px black solid;
    border-radius: 20px;
    margin: 50px;
    text-align: center;
    width: 300px;
}
#family_member_name{
    font-size: 30px;
    font-variant: small-caps;
    color:red;
}
#family_member{
    font-size: 22px;
    color: blue;
    margin-top: -30px;
}
button{
    height: 30px;
    width: 100px;
    margin: 10px;
}
.bg{
    background-color: lightblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 500px;
    margin-top: -10px;
}
